/****** Object:  Table [dbo].[ngf_bookmark]    Script Date: 2017-9-11 8:41:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ngf_bookmark](
	[user_id] [uniqueidentifier] NOT NULL,
	[function_id] [uniqueidentifier] NOT NULL,
	[created_at] [datetime] NULL,
	[created_by] [nvarchar](50) NULL,
	[modified_at] [datetime] NULL,
	[modified_by] [nvarchar](50) NULL,
 CONSTRAINT [PK_cb_bookmark] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[function_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ngf_language]    Script Date: 2017-9-11 8:41:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ngf_language](
	[language_key] [nvarchar](200) NOT NULL,
	[zh_cn] [nvarchar](max) NULL,
	[zh_tw] [nvarchar](max) NULL,
	[en_us] [nvarchar](max) NULL,
	[createed_at] [datetime] NULL,
	[created_by] [nvarchar](50) NULL,
	[modified_at] [datetime] NULL,
	[modified_by] [nvarchar](50) NULL,
 CONSTRAINT [PK_cb_language] PRIMARY KEY CLUSTERED 
(
	[language_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ngf_plugin]    Script Date: 2017-9-11 8:41:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ngf_plugin](
	[plugin_name] [nvarchar](250) NOT NULL,
	[created_at] [datetime] NULL,
	[created_by] [nvarchar](50) NULL,
	[modified_at] [datetime] NULL,
	[modified_by] [nvarchar](50) NULL,
 CONSTRAINT [PK_cb_plugin] PRIMARY KEY CLUSTERED 
(
	[plugin_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ngf_preference]    Script Date: 2017-9-11 8:41:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ngf_preference](
	[user_id] [uniqueidentifier] NOT NULL,
	[language_key] [nvarchar](200) NULL,
	[skin] [nvarchar](200) NULL,
	[created_at] [datetime] NULL,
	[created_by] [nvarchar](50) NULL,
	[modified_at] [datetime] NULL,
	[modified_by] [nvarchar](50) NULL,
 CONSTRAINT [PK_cb_preference] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ngf_user_image]    Script Date: 2017-9-11 8:41:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ngf_user_image](
	[user_id] [nvarchar](100) NULL,
	[image] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[ngf_language] ([language_key], [zh_cn], [zh_tw], [en_us], [createed_at], [created_by], [modified_at], [modified_by]) VALUES (N'func_account_maintain', N'账号管理', N'賬號管理', N'Account Maintain', NULL, NULL, NULL, NULL)
INSERT [dbo].[ngf_language] ([language_key], [zh_cn], [zh_tw], [en_us], [createed_at], [created_by], [modified_at], [modified_by]) VALUES (N'func_bird_input_label_print', N'内部标签打印', N'內部標籤列印', N'Input Label Print', NULL, NULL, NULL, NULL)
INSERT [dbo].[ngf_language] ([language_key], [zh_cn], [zh_tw], [en_us], [createed_at], [created_by], [modified_at], [modified_by]) VALUES (N'func_bird_label_print', N'标签打印', N'標籤列印', N'Label Print', NULL, NULL, NULL, NULL)
GO
